@page "/categories"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BestRecipes.Domain
@using BestRecipes.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BestRecipes.Data.BestRecipesContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="categories/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Category">
    <PropertyColumn Property="category => category.Name" />
    <PropertyColumn Property="category => category.Description" />
    <PropertyColumn Property="category => category.DateCreated" />
    <PropertyColumn Property="category => category.DateUpdated" />
    <PropertyColumn Property="category => category.CreatedBy" />
    <PropertyColumn Property="category => category.UpdatedBy" />

    <TemplateColumn Context="category">
        <a href="@($"categories/edit?id={category.Id}")">Edit</a> |
        <a href="@($"categories/details?id={category.Id}")">Details</a> |
        <a href="@($"categories/delete?id={category.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BestRecipesContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
