@page "/ingredients/create"
@using Microsoft.EntityFrameworkCore
@using BestRecipes.Domain
@inject IDbContextFactory<BestRecipes.Data.BestRecipesContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Ingredient</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Ingredient" OnValidSubmit="AddIngredient" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Ingredient.Name" class="form-control" /> 
                <ValidationMessage For="() => Ingredient.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="upvote" class="form-label">UpVote:</label> 
                <InputNumber id="upvote" @bind-Value="Ingredient.UpVote" class="form-control" /> 
                <ValidationMessage For="() => Ingredient.UpVote" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="downvote" class="form-label">DownVote:</label> 
                <InputNumber id="downvote" @bind-Value="Ingredient.DownVote" class="form-control" /> 
                <ValidationMessage For="() => Ingredient.DownVote" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="unitofmeasurement" class="form-label">UnitOfMeasurement:</label> 
                <InputText id="unitofmeasurement" @bind-Value="Ingredient.UnitOfMeasurement" class="form-control" /> 
                <ValidationMessage For="() => Ingredient.UnitOfMeasurement" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Ingredient.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Ingredient.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Ingredient.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Ingredient.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Ingredient.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Ingredient.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Ingredient.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Ingredient.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/ingredients">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Ingredient Ingredient { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddIngredient()
    {
        using var context = DbFactory.CreateDbContext();
        context.Ingredient.Add(Ingredient);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/ingredients");
    }
}
