@page "/ingredients"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BestRecipes.Domain
@using BestRecipes.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BestRecipes.Data.BestRecipesContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="ingredients/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Ingredient">
    <PropertyColumn Property="ingredient => ingredient.Name" />
    <PropertyColumn Property="ingredient => ingredient.UpVote" />
    <PropertyColumn Property="ingredient => ingredient.DownVote" />
    <PropertyColumn Property="ingredient => ingredient.UnitOfMeasurement" />
    <PropertyColumn Property="ingredient => ingredient.DateCreated" />
    <PropertyColumn Property="ingredient => ingredient.DateUpdated" />
    <PropertyColumn Property="ingredient => ingredient.CreatedBy" />
    <PropertyColumn Property="ingredient => ingredient.UpdatedBy" />

    <TemplateColumn Context="ingredient">
        <a href="@($"ingredients/edit?id={ingredient.Id}")">Edit</a> |
        <a href="@($"ingredients/details?id={ingredient.Id}")">Details</a> |
        <a href="@($"ingredients/delete?id={ingredient.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BestRecipesContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
