@page "/recipes/create"
@using Microsoft.EntityFrameworkCore
@using BestRecipes.Domain
@inject IDbContextFactory<BestRecipes.Data.BestRecipesContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Recipe</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Recipe" OnValidSubmit="AddRecipe" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label> 
                <InputText id="title" @bind-Value="Recipe.Title" class="form-control" /> 
                <ValidationMessage For="() => Recipe.Title" class="text-danger" /> 
            </div> 
            <div class="mb-3">
                <label for="title" class="form-label">Description</label>
                <InputText id="title" @bind-Value="Recipe.Description" class="form-control" />
                <ValidationMessage For="() => Recipe.Description" class="text-danger" />
            </div>
            <div class="mb-3">
                <label for="instructions" class="form-label">Instructions:</label> 
                <InputText id="instructions" @bind-Value="Recipe.Instructions" class="form-control" /> 
                <ValidationMessage For="() => Recipe.Instructions" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="preparationtime" class="form-label">PreparationTime:</label> 
                <InputNumber id="preparationtime" @bind-Value="Recipe.PreparationTime" class="form-control" /> 
                <ValidationMessage For="() => Recipe.PreparationTime" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="cookingduration" class="form-label">CookingDuration:</label> 
                <InputNumber id="cookingduration" @bind-Value="Recipe.CookingDuration" class="form-control" /> 
                <ValidationMessage For="() => Recipe.CookingDuration" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="servingsize" class="form-label">ServingSize:</label> 
                <InputNumber id="servingsize" @bind-Value="Recipe.ServingSize" class="form-control" /> 
                <ValidationMessage For="() => Recipe.ServingSize" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="ingredientid" class="form-label">IngredientId:</label> 
                <InputNumber id="ingredientid" @bind-Value="Recipe.IngredientId" class="form-control" /> 
                <ValidationMessage For="() => Recipe.IngredientId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="userid" class="form-label">UserId:</label> 
                <InputNumber id="userid" @bind-Value="Recipe.UserId" class="form-control" /> 
                <ValidationMessage For="() => Recipe.UserId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="categoryid" class="form-label">CategoryId:</label> 
                <InputNumber id="categoryid" @bind-Value="Recipe.CategoryId" class="form-control" /> 
                <ValidationMessage For="() => Recipe.CategoryId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Recipe.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Recipe.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Recipe.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Recipe.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Recipe.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Recipe.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Recipe.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Recipe.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/recipes">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Recipe Recipe { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddRecipe()
    {
        using var context = DbFactory.CreateDbContext();
        context.Recipe.Add(Recipe);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/recipes");
    }
}
