@page "/recipes"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BestRecipes.Domain
@using BestRecipes.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BestRecipes.Data.BestRecipesContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="recipes/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Recipe">
    <PropertyColumn Property="recipe => recipe.Title" />
    <PropertyColumn Property="recipe => recipe.Instructions" />
    <PropertyColumn Property="recipe => recipe.PreparationTime" />
    <PropertyColumn Property="recipe => recipe.CookingDuration" />
    <PropertyColumn Property="recipe => recipe.ServingSize" />
    <PropertyColumn Property="recipe => recipe.IngredientId" />
    <PropertyColumn Property="recipe => recipe.UserId" />
    <PropertyColumn Property="recipe => recipe.CategoryId" />
    <PropertyColumn Property="recipe => recipe.DateCreated" />
    <PropertyColumn Property="recipe => recipe.DateUpdated" />
    <PropertyColumn Property="recipe => recipe.CreatedBy" />
    <PropertyColumn Property="recipe => recipe.UpdatedBy" />

    <TemplateColumn Context="recipe">
        <a href="@($"recipes/edit?id={recipe.Id}")">Edit</a> |
        <a href="@($"recipes/details?id={recipe.Id}")">Details</a> |
        <a href="@($"recipes/delete?id={recipe.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BestRecipesContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
